/* imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-color: #0099FF;
  --text-color: #0E1016F2;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  color: var(--text-color);
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--text-color);
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  max-width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-reverse {
  flex-direction: row-reverse;
}

.right-col, .left-col {
  width: 50%;
}

.gray {
  color: #0E101666;
}

/* header */

header .container {
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
}

nav a {
  padding: 8px 16px;
}

.badge {
  background-color: #F64775;
  color: white;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
}

.btn, .btn-primary {
  padding: 8px 20px;
  background-color: white;
  border: 2px solid #F8F4F4;
  border-radius: 8px;
}

.btn-primary {
  background-color: #0099FF;
  color: white;
  border: none;
  font-size: 16px;
}

/* hero section  */

#hero {
  text-align: center;
  font-size: 20px;
}

#hero h1 {
  font-size: 120px;
  width: 70%;
  margin: 10px auto 0;
}

#hero p {
  width: 33%;
  margin: 73px auto 33px;
}

#hero form {
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto;
  display: flex;
}

#hero input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 18px;
}


/* partners section */

#partners .container {
  padding: 0 160px;
}

.partners-list {
  display: flex;
}

/* works section  */

#works button {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}


/* hire-create section  */

#hire-create .container {
  padding: 100px 140px;
  text-align: left;
}

#hire-create .left-col {
  width: 45%;
}

#hire-create .right-col {
  text-align: center;
}

#hire-create h2 {
  font-size: 56px;
  margin: 0 0 24px;
}

.img-nav {
  margin-bottom: -4px;
}

#hire-create .row:first-child {
  margin-bottom: 150px;
}

.green, .orange {
  font-size: 30px;
  margin: 0;
}

.green {
  color: #0C9F64;
}

.orange {
  color: #FEC104;
}

/* club setion */

#club .container, #templates .container, #free-trial .container {
  padding: 100px;
}

.club-box {
  background-color: #202E78;
  color: white;
  padding: 40px;
  border-radius: 20px;
}

.club-box h2 {
  font-size: 56px;
}

.club-box .btn {
  background-color: transparent;
  display: inline-block;
  margin: 70px 0 40px;
  color: white;
}

.club-box .row {
  align-items: stretch;
  border-radius: 8px;
}

.club-box .right-col {
  text-align: left;
  padding: 20px 40px;
  background-color: #000639;
  border-radius: 0 8px 8px 0;
}

.comment {
  font-size: 20px;
}

.coordinator {
  margin: 0;
}

.club-box .left-col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

/* templates section  */

.templates-box {
  padding-top: 70px;
  border-radius: 20px;
  background-color: #181818;
  color: white;
}

.templates-box h1 {
  width: 75%;
  font-size: 58px;
  margin: 20px auto;
}

.templates-box .btn-primary {
  display: inline-block;
  margin: 70px 0 40px;
}


/* ratings section  */

#ratings .row {
  align-items: flex-start;
}

#ratings .left-col, .right-col {
  padding: 0px;
}

#ratings .left-col h2 {
  margin: 20px 0 14px;
  font-size: 82px;
}

#ratings p {
  width: 40%;
  margin: 22px auto;
}

#ratings .right-col h2 {
  margin: 10px 0 7px;
  font-size: 82px;
}

/* trail section  */

.trial-box {
  padding: 60px;
  background-color: var(--primary-color);
  border-radius: 20px;
  color: white;
}

.trial-box h1 {
  font-size: 48px;
  width: 50%;
  margin: 14px auto 25px;
}

.trial-box .btn {
  background-color: var(--text-color);
  color: white;
  border-color: var(--text-color);
}

.trial-box ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}


/* footer  */

footer {
  margin-bottom: 50px;
}

footer .container {
  padding: 0 100px;
}

footer .row {
  align-items: flex-start;
}

.footer-box {
  border-radius: 20px;
  background-color: var(--text-color);
  padding: 25px;
  text-align: left;
}

footer a {
  color: gray;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
}

footer .row {
  flex-wrap: wrap;
}

footer .green, footer .orange {
  font-size: 16px;
}

footer .left-col, footer .right-col {
  display: flex;
  justify-content: space-between;
}

footer .left-col, footer .right-col {
  min-width: 300px;
}

footer ul {
  margin-bottom: 40px;
}

footer li {
  margin-bottom: 20px;
}

.footer-titles {
  color: white;
  font-weight: bold;
}

.product, .learn-guides, .about, .newsletter {
  width: 50%;
}

.badge-circle {
  background-color: #FC4945;
  color: white;
  display: inline-block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  text-align: center;
  line-height: 21px;
}

.newsletter form {
  display: flex;
  border-radius: 8px;
}

.newsletter input {
  padding: 10px;
  background-color: #7782914D;
  outline: none;
  border: none;
  border-radius: 8px 0 0 8px;
  width: 100%;
}

.newsletter .btn {
  border-radius: 0 8px 8px 0;
  background-color: #595D68;
  width: 50%;
}

footer .gray {
  color: gray !important;
  margin-bottom: 30px;
}

.social-links {
  margin-top: 25px;
  display: flex;
}

.social-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  margin-right: 10px;
  line-height: 40px;
  text-align: center;
}

.red {
  background-color: #CD486B;
}

.blue {
  background-color: #007BB6;
}

.lightblue {
  background-color: #4099FF;
}

@media screen and (max-width: 1000px) {
  nav {
    display: none;
  }

  #hero h1 {
    font-size: 80px;
  }

  #hero p {
    width: 43%;
    margin: 35px auto 23px;
  }

  #partners .container {
    padding: 0 80px;
  }

  #works img {
    width: 90%;
  }

  #hire-create .container {
    padding: 60px 100px;
    text-align: left;
  }

  #hire-create h2 {
    font-size: 36px;
  }

  #hire-create .row:first-child {
    margin-bottom: 50px;
  }

  .green, .orange {
    font-size: 20px;
  }

  #club .container, #templates .container, #free-trial .container {
    padding: 60px;
  }

  #club h2 {
    font-size: 36px;
  }

  .club-box .btn {
    margin: 35px 0 20px;
  }

  .templates-box h1 {
    font-size: 38px;
  }

  #ratings .left-col h2, #ratings .right-col h2 {
    font-size: 42px;
  }

  .templates-box .btn-primary {
    margin: 35px 0 20px;
  }

  .trial-box h1 {
    font-size: 32px;
  }

  footer .container {
    padding: 0 60px;
  }

}

@media screen and (max-width: 800px) {
  
  #hero h1 {
    font-size: 40px;
  }

  #hero p {
    font-size: 18px;
  }

  #hero input {
    font-size: 16px;
    width: 80%;
  }

  #hero .btn-primary {
    width: 50%;
  }

  #hire-create .row{
    flex-direction: column-reverse;
  }

  #hire-create h2 {
    font-size: 24px;
  }

  .green, .orange {
    font-size: 16px;
  }

  .club-box .row {
    flex-direction: column;
  }

  #hire-create .left-col, #hire-create .right-col, 
  .club-box .left-col, .club-box .right-col {
    width: 100%;
  }

  #club .container, #partners .container, 
  #templates .container, #free-trial .container, 
  #hire-create .container, footer .container {
    padding: 30px;
  }

  .club-box .left-col img {
    border-radius: 8px 8px 0 0;
  }

  .club-box .right-col {
    border-radius: 0 0 8px 8px;
  }

  #ratings .row {
    flex-direction: column;
    align-items: center;
  }

  #ratings p {
    width: 100%;
  }

  .trial-box h1 {
    width: 90%;
  }

  footer .left-col, footer .right-col {
    width: 100%;
  }
}

@media screen and (max-width: 440px){

  header .container {
    padding: 5px 20px;
  }

  header .btn-primary {
    display: none;
  }

  #hero h1 {
    font-size: 40px;
    width: 90%;
  }

  #hero p {
    width: 80%;
    font-size: 16px;
  }

  #club .container, #partners .container, 
  #templates .container, #free-trial .container, 
  #hire-create .container, footer .container {
    padding: 15px;
  }

  #club h2, .trial-box h1, .templates-box h1 {
    font-size: 28px;
    width: 90%;
  }

  #club p, .templates-box p {
    font-size: 15px;
  }

  .trial-box ul {
    flex-direction: column;
  }
  
  .product, .about {
    display: none;
  }

  .learn-guides, .newsletter {
    width: 100%;
  }

  footer .left-col, footer .right-col {
    min-width: 150px;
  }
}